body {
    font: 24px Helvetica;
    background: #000;
}

#main {
    min-height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}
 
#main > article {
    margin: 4px;
    padding: 5px;
    text-align: center;
    flex: 3 1 50%;
    order: 2;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 7pt;
    background: #000;
    color: #eee;
    text-align: center;
    flex: 1 6 20%;
    order: 1;
}
  
#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 7pt;
    background: #000;
    color: #eee;
    flex: 1 6 20%;
    order: 3;

    position: relative;
    text-align: center;
}
 
header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    background: #000;
    color: #eee;
    text-align: center;
}

footer {
    font-size: 10px;
}

#game button {
    display: inline-block;
    width: 3em;
    height: 2em;
}

#stats1, #stats2 {
    position: absolute;
    top: 0px;
    cursor: pointer;
    text-align: left;
}

#stats2 {
    text-align: right;
}

#assets {
    display: none;
}

#start {
    display: block;
    color: #eee;
    text-align: center;
    line-height: 100vh;
}

#mainmenu {
    display: none;
    color: #eee;
    text-align: center;
    line-height: 50vh;
}

#intro {
    display: none;
    color: #eee;
    text-align: center;
    line-height: 50vh;
}

#game {
    display: none;
}

#game tt {
    display: none;
}

#view {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

#stage2d {
    position: absolute;
    width: 600px;
    height: 400px;
    transition: top 1s, left 1s;
}

#light, #lightmask {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 200px;
}

#light {
    background-color: rgba(64, 64, 0, 0.5);
}

#lightmask {
    background-image: url(../assets/lost-lightmask.png);
    transition: transform 0.15s;
}

#inventory {
    display: none;
    color: #eee;
    text-align: center;
}

#inventory ul {
    text-align: left;
    margin-left: 33%;
    list-style: none;
}

#died {
    display: none;
    color: #eee;
    text-align: center;
    line-height: 50vh;
}

#stats2 {
    right: 0px;
}

button { padding: 0.5em; font-size: 2vh; border: 0px; background-color: #ccc; }
button:hover, button.highlight { background-color: #fff; }
 
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }
  
    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}
.sprite {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 20px;
    background-image: url(../assets/lost.png);
}

.ground0 {
    background-position: 0px 0px;
}

.ground1 {
    background-position: -15px 0px;
}

.wall0 {
    background-position: -75px 0px;
}

.actor0.up.frame1 {
    background-position: -150px 0px;
}

.actor0.up.frame2 {
    background-position: -165px 0px;
}

.actor0.left.frame1 {
    background-position: -180px 0px;
}

.actor0.left.frame2 {
    background-position: -195px 0px;
}

.actor0.down.frame1 {
    background-position: -210px 0px;
}

.actor0.down.frame2 {
    background-position: -225px 0px;
}

.actor0.right.frame1 {
    background-position: -240px 0px;
}

.actor0.right.frame2 {
    background-position: -255px 0px;
}

.actor1.up.frame1 {
    background-position: 0px -20px;
}

.actor1.up.frame2 {
    background-position: -15px -20px;
}

.actor1.left.frame1 {
    background-position: -30px -20px;
}

.actor1.left.frame2 {
    background-position: -45px -20px;
}

.actor1.down.frame1 {
    background-position: -60px -20px;
}

.actor1.down.frame2 {
    background-position: -75px -20px;
}

.actor1.right.frame1 {
    background-position: -90px -20px;
}

.actor1.right.frame2 {
    background-position: -105px -20px;
}

.actor2.up.frame1 {
    background-position: -120px -20px;
}

.actor2.up.frame2 {
    background-position: -135px -20px;
}

.actor2.left.frame1 {
    background-position: -150px -20px;
}

.actor2.left.frame2 {
    background-position: -165px -20px;
}

.actor2.down.frame1 {
    background-position: -180px -20px;
}

.actor2.down.frame2 {
    background-position: -195px -20px;
}

.actor2.right.frame1 {
    background-position: -210px -20px;
}

.actor2.right.frame2 {
    background-position: -225px -20px;
}

.actor3.up.frame1 {
    background-position: -240px -20px;
}

.actor3.up.frame2 {
    background-position: -255px -20px;
}

.actor3.left.frame1 {
    background-position: -270px -20px;
}

.actor3.left.frame2 {
    background-position: -285px -20px;
}

.actor3.down.frame1 {
    background-position: -300px -20px;
}

.actor3.down.frame2 {
    background-position: -315px -20px;
}

.actor3.right.frame1 {
    background-position: -330px -20px;
}

.actor3.right.frame2 {
    background-position: -345px -20px;
}

.pickup0 {
    background-position: 0px -40px;
}

.pickup1 {
    background-position: -15px -40px;
}

.pickup2 {
    background-position: -30px -40px;
}

.pickup3 {
    background-position: -45px -40px;
}

.pickup4 {
    background-position: -60px -40px;
}
