.sprite {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 20px;
    background-image: url(../assets/lost.png);
}

.grass {
    background-position: 0px 0px;
}

.stones {
    background-position: -15px 0px;
}

.tree {
    background-position: 0px -20px;
}

.player {
    background-position: 0px -40px;
}

.actor {
    background-position: -15px -40px;
}

.gold {
    background-position: 0px -60px;
}

.scroll {
    background-position: -15px -60px;
}

.potion {
    background-position: -30px -60px;
}
