.SP {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 20px;
    background-image: url(../assets/lost.png);
}

.GR {
    background-position: 0px 0px;
}

.ST {
    background-position: -15px 0px;
}

.TR {
    background-position: 0px -20px;
}

.PL {
    background-position: 0px -40px;
}

.AC {
    background-position: -15px -40px;
}

.GO {
    background-position: 0px -60px;
}

.SC {
    background-position: -15px -60px;
}

.PO {
    background-position: -30px -60px;
}
