body {
    font: 24px Helvetica;
    background: #000;
}

#main {
    min-height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}
 
#main > article {
    margin: 4px;
    padding: 5px;
    text-align: center;
    flex: 3 1 50%;
    order: 2;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 7pt;
    background: #000;
    color: #eee;
    text-align: center;
    flex: 1 6 20%;
    order: 1;
}
  
#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 7pt;
    background: #000;
    color: #eee;
    flex: 1 6 20%;
    order: 3;

    position: relative;
    text-align: center;
}
 
header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    background: #000;
    color: #eee;
    text-align: center;
}

footer {
    font-size: 10px;
}

#game button {
    display: inline-block;
    width: 3em;
    height: 2em;
}

#stats1, #stats2 {
    position: absolute;
    top: 0px;
    cursor: pointer;
    text-align: left;
}

#stats2 {
    text-align: right;
}

#assets {
    display: none;
}

#start {
    display: block;
    color: #eee;
    text-align: center;
    line-height: 100vh;
}

#mainmenu {
    display: none;
    color: #eee;
    text-align: center;
    line-height: 50vh;
}

#intro {
    display: none;
    color: #eee;
    text-align: center;
    line-height: 50vh;
}

#game {
    display: none;
}

#game tt {
    display: none;
}

#stage2d {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    background-color: #fff; /* FIXME: Split floors and walls into their own layers */
}

#inventory {
    display: none;
    color: #eee;
    text-align: center;
}

#inventory ul {
    text-align: left;
    margin-left: 33%;
    list-style: none;
}

#died {
    display: none;
    color: #eee;
    text-align: center;
    line-height: 50vh;
}

#stats2 {
    right: 0px;
}

button { padding: 0.5em; font-size: 2vh; border: 0px; background-color: #ccc; }
button:hover, button.highlight { background-color: #fff; }
 
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }
  
    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}
