/* Based on and heavily inspired by http://xem.github.io/articles/#css3d */

/* scene setup */
* { transform-style: preserve-3d; box-sizing: border-box; }
#viewport { width: 600px; height: 400px; overflow: hidden; perspective: 400px; }
#camera { width: 0px; height: 0px; position: relative; left: 300px; top: 200px; }
#scene { width: 4000px; height: 4000px; transform-origin: 0 0; position: relative; background-color: rgba(227,227,227,0); } /* invisible ground plane */

/* position the view */
#scene {
    transform:
        translateZ(400px)       /* first-person view */
        translateX(-2000px)     /* move the scene to the center of the camera viewport */
        rotateX(90deg)          /* rotate the scene lay it out flat, this is our ground plane  */
        translateY(-2000px)     /* move the center of the scene div into view  */
        translateZ(-32px)       /* push scene down to simulate camera height above our ground */
    ;
}

/* skybox */
#sb0, #sb1, #sb2,
#sb3, #sb4, #sb5 {
    position: absolute;
    width: 4010px;              /* slightly larger than necessary to avoid seams */
    height: 4010px;
    background-color: #000;
    color: #fff;
    line-height: 4010px;
    text-align: center;
    font-size: 1000px;
}

#sb0 {
    top: -2000px;
    left: 0px;
    transform: rotateX(-90deg);
}

#sb1 {
    top: 2000px;
    left: 0px;
    transform: rotateX(-90deg) rotateY(180deg);
}

#sb2 {
    top: 0px;
    left: -2000px;
    transform: rotateX(-90deg) rotateY(90deg);
}

#sb3 {
    top: 0px;
    left: 2000px;
    transform: rotateX(-90deg) rotateY(270deg);
}

#sb4 {
    top: 0px;
    left: 0px;
    transform: translateZ(-2000px);
}

#sb5 {
    top: 0px;
    left: 0px;
    transform: translateZ(2000px) rotateX(180deg);
}

/* add sprites */
#sprite1 {
    position: absolute;
    top: 1850px;
    left: 2000px;
    width: 64px;
    height: 64px;
    background-color: #f00;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 64px;
    transform:
        translateX(-32px)       /* offset 1/2 sprite-width to center it on the x coordinate */
        rotateX(-90deg)         /* make it perpendicular to the scene div (ground plane) */
        translateY(-32px)       /* offset 1/2 sprite-height (place on the ground instead of splitting it) */
    ;
        rotateY(25deg);         /* rotate the sprite a little for effect */
}
